<%
// Sets defaults for missing SEO attributes
seo = util._extend({
    title: "Team 2412 - The Robototes",
    description: "The official website for FRC Team 2412 - The Robototes, with coverage of current events and future competitions",
    image: {
        url: classes.constants.subdomains.full("CDN") + "/media/rt.png",
        alt: "Robototes"
    },
    type: "website",
    url: classes.constants.subdomains.full("WWW"),
    cardType: "summary_large_image",
}, seo || {});
%>
<title><%= seo.title || "Team 2412 - The Robototes"; %></title>
<meta name="description"
    content="<%= seo.description || "The official website for FRC Team 2412 - The Robototes, with coverage of current events and future competitions"; %>"/>

<!--Open Graph-->
<meta property="og:title" content="<%= seo.title; %>"/>
<meta property="og:description" content="<%= seo.description; %>"/>
<meta property="og:image" content="<%= seo.image.url; %>"/>
<meta property="og:locale" content="en-US"/>
<meta property="og:type" content="<%= seo.type; %>"/>
<meta property="og:url" content="<%= seo.url; %>"/>
<meta property="og:site_name" content="Team 2412 - The Robototes"/>
<link rel="publisher" href="//plus.google.com/+robototes"/>

<!--Twitter Cards-->
<meta name="twitter:card" content="<%= seo.cardType; %>"/>
<meta name="twitter:site" content="@robototes"/>
<meta name="twitter:title" content="<%= seo.title; %>"/>
<meta name="twitter:description" content="<%= seo.description; %>"/>
<meta name="twitter:image" content="<%= seo.image.img; %>"/>
<meta name="twitter:image:alt" content="<%= seo.image.alt; %>"/>

<!--Google Analytics-->
<script>
window.ga = window.ga || function() { (ga.q = ga.q || []).push(arguments) };
ga.l = +new Date;
ga("create", {
    trackingId: "<%= classes.constants.api_keys.google.analytics; %>",
    cookieDomain: "<%= classes.constants.domain; %>"
});
ga("send", {
    hitType: "pageview"
});
</script>
<script async type="text/javascript" src="//www.google-analytics.com/analytics<%= app.get("debug") ? "_debug" : "" %>.js"></script>
<!-- End Google Analytics -->