<% var seo = {
    title: "About | Team 2412 - The Robototes"
}; %>
<!DOCTYPE html>
<html lang="en">
    <!--
        Copyright (C) 2017 Sammamish Robotics <robototes2412@gmail.com> All rights reserved
        
        This file is part of the robototes-website project.
        
        Any copying and/or distributing and/or use in commercial or non-commercial environments
        via any medium without the express permission of Robotics Leadership is strictly prohibited
    -->
    <head>
        <% include ../partials/head.ejs %>
        <% include ../partials/seo.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>
        <section id="main">
            <h1>About</h1>
            <h3>What is FIRST?</h3>
            <p><span style="font-style: italic">FIRST</span>, or For Inspiration and Recognition of Science and Technology, is a national organization dedicated to helping students discover the magic of science and technology. FIRST has several programs, including FIRST Robotics Competition (FRC), a high-school level program where different teams (including us) compete and cooperate with each other. Every year we receive <a href="https://www.youtube.com/watch?v=EMiNmJW7enI">a new challenge, or game</a>. These games can range from <a href="https://www.youtube.com/watch?v=nOXsdhZZSdM">basketball</a> and <a href="https://www.youtube.com/watch?v=wa5MGEZNrf0">shooting frisbees</a> to <a href="https://www.youtube.com/watch?v=DTJOXTIaa9g">hanging large inner tubes on pegs over 7 feet in the air</a>. After the game is revealed, we only have six weeks (and change) to work on the robot. These six weeks are known as "Build Season". After Build Season, our team goes to competitions, where many different teams compete and work together to win matches and awards.</p>
            <h4>More than just robots</h4>
            <p>Although building robots is definitely important, we also have many members who are involved in other non-robot aspects, such as fundraising and outreach. A good team (which we hopefully are) is well-balanced in all areas. The moral of the story is that even if you're not into building robots or programming, you can still help. Our team meets at <a href="//goo.gl/maps/NKQmaUubxs22">Sammamish High School</a> in the engineering room (room 143, first floor) after school on Mondays, and every day during the build season.</p>
            <h3>Our History</h3>
            <p>Team 2412 was founded in 2007 and first competed in 2008. Our first competition was OverDrive and we've been building robots ever since.</p>
            <h3>Best years</h3>
            <p>Our most successful seasons were <a href="https://www.thebluealliance.com/team/2412/2008">2008</a>, <a href="https://www.thebluealliance.com/team/2412/2014">2014</a>, and <a href="https://www.thebluealliance.com/team/2412/2016">2016</a>. In those three years, we have won a total of 52 matches (not including the offseason) and received several awards.</p>
            <h2>Our Robots</h2>
            <%
            //Utility function to generate a list from an array
            function genList(arr) { %>
                <ul>
                    <% for(var i = 0; i < arr.length; i++) { %>
                        <li><%-arr[i]%></li>
                    <%}%>
                </ul>
            <%}%>
            <%
            //Creates a div that displays information about a robot.
            //Paramaters:
            //comprobot - boolean, indicates if this robot ever competed (Tomo did compete a long time ago but it was so long ago that it doesn't really count)
            //name - name of robot (e.g., Sir Costalot)
            //year - year robot was made (e.g., 2016)
            //yearcomp - name of competition (e.g., Stronghold)
            //comparr - array of strings, each one a link to a competition that the robot competed in
            //awardarr - array of strings, each one an award/accomplishment that the robot has made (and links if possible)
            //features - array of strings, each one describing a special feature that the robot has
            //imgurl - url for robot image
            //imgalt - alt attribute for robot image
            function createRobotSection(comprobot, name, year, yearcomp, comparr, awardarr, featuresarr, imgurl, imgalt) { %>
                <div class="well robot-display">
                    <div class="text">
                      <p class="robotname">Name: <%-name%></p>
                      <%if(comprobot) {%>
                          <p>Year: <%=year%> (<%-yearcomp%>)</p>
                          <ul>
                            <li>Competed at:
                                <%- genList(comparr);%>
                            </li>
                          </ul>
                          <ul>
                            <li>Awards received:
                                <%- genList(awardarr);%>
                            </li>
                          </ul>
                      <%} else {%>
                      <%
                          //Assume that the user intends to pass year, yearcomp, and comparr as the last three paramaters (intended to be featuresarr, imgurl, and imgalt)
                          featuresarr = year;
                          imgurl = yearcomp;
                          imgalt = comparr;
                      }%>
                      <ul>
                          <li>Features:
                              <%- genList(featuresarr);%>
                          </li>
                      </ul>
                    </div>
                    <img class="robot-image" src="<%=imgurl%>" alt="<%=imgalt%>">
                </div>
            <%}%>
            <% var cdnurl =  "\/\/" + classes.constants.subdomains.full("CDN") + "/media/robot_imgs/"; %>
            <%- createRobotSection(false, "Tomo^2", [
                    "Shoots T-Shirts :)",
                    "Mecanum drive (forward/back, turning, and left/right movement)",
                    "Front headlights"
                ], cdnurl + "tomo.jpg", "Tomo^2, our T-Shirt shooting robot."); %>
            <%- createRobotSection(true, "Falca", "2017", "Steamworks", [
                    link_to("Glacier Peak", "https:\/\/www.thebluealliance.com/event/2017wasno"),
                    link_to("Auburn", "https:\/\/www.thebluealliance.com/event/2017waahs")
                ], [
                    `3 Four rotor matches`,
                    `Semifinalists at ${link_to("Auburn", "https:\/\/www.thebluealliance.com/event/2017waahs")}`,
                    `Innovation in Control Award`
                ], [
                    "6 wheel tank drive, powered by 4 CIMs",
                    "Pneumatic gripper can pick gear off the ground",
                    "Chain-driven climber powered by a 775 pro",
                    "Crosses baseline for extra 5 points"
                ], cdnurl + "falca.jpg", "Falca, our 2017 robot."); %>
            <%- createRobotSection(true, "Sir Costalot", "2016", "Stronghold", [
                    link_to("Glacier Peak", "https:\/\/www.thebluealliance.com/event/2016wasno"),
                    link_to("Auburn", "https:\/\/www.thebluealliance.com/event/2016waahs"),
                    link_to("Girls Gen", "https:\/\/www.thebluealliance.com/event/2016wagg")
                ], [
                    `Ranked #8 at ${link_to("Glacier Peak", "https:\/\/www.thebluealliance.com/event/2016wasno")}`,
                    `7th seeded captain at ${link_to("Auburn", "https:\/\/www.thebluealliance.com/event/2016waahs")}`,
                    `Finalist at ${link_to("Girls Gen", "https:\/\/www.thebluealliance.com/event/2016wagg")}`
                ], [
                    "Can cross all category B, C, and D defenses in Autonomous (except Drawbridge)",
                    "Crosses all defenses in Teleoperated period (except Drawbridge)",
                    "Intake arm can be raised and lowered", "Low bar scoring"
                ], cdnurl + "sir_costalot.jpg", "Sir Costalot, our 2016 robot."); %>
            <%- createRobotSection(true,
                `YPOTRYLLA (The Yodeling Pusher of Totes and Recycling containers Yusing Lots and Lots of Acme) - ${tag("span", { style: "color: red" })}DISMANTLED${end_tag("span")}`,
                "2015", "Recycle Rush", [
                    link_to("Auburn Mountainview", "https:\/\/www.thebluealliance.com/event/2015waamv"),
                    link_to("Shorewood", "https:\/\/www.thebluealliance.com/event/2015washo")
                ], [
                    'Innovation in Control Award',
                    `Semifinalists at ${link_to("Auburn Mountainview", "https:\/\/www.thebluealliance.com/event/2015waamv")}`,
                    `Ranked #8 at ${link_to("Shorewood", "https:\/\/www.thebluealliance.com/event/2015washo")}`
                ], [
                    "Mecanum drive",
                    "Ability to stack totes and RCs",
                    "Automatic in-robot stack assembly for fast scoring",
                    "RC \"claw\" to grab RCs off of center step quickly",
                    "14 sensors"
                ], cdnurl + "YPOTRYLLA.jpg", "YPOTRYLLA (Y P O T R Y L L A), our 2015 robot."); %>
            <%- createRobotSection(true, "CONDOR (Cooperatively Optimized Northwest Defensive and Offensive Robot)", "2014", "Aerial Assist", [
                    link_to("Glacier Peak", "https:\/\/www.thebluealliance.com/event/2014wasno"),
                    link_to("Shorewood", "https:\/\/www.thebluealliance.com/event/2014washo"),
                    link_to("Pacific Northwest Championship", "https:\/\/www.thebluealliance.com/event/2014pncmp")
                ], [
                    'Quality Award (twice)',
                    `Ranked #1 at ${link_to("Glacier Peak", "https:\/\/www.thebluealliance.com/event/2014wasno")}`,
                    `Semifinalists at ${link_to("Pacific Northwest Championship", "https:\/\/www.thebluealliance.com/event/2014pncmp")}`
                ], [
                    "Ability to launch into high goal using pneumatically-driven catapult",
                    "Shifting gearbox for high speed and power",
                    "Fast pick-up",
                    "\"Wings\" to aid catching",
                    "8-wheel design",
                    "Two ball autonomous"
                ], cdnurl + "CONDOR.jpg", "CONDOR, our 2014 robot."); %>
            <!--Sponsors-->
            <h1>Sponsors</h1>
            <p>Thanks to our wonderful sponsors, we have been able to afford a robot year after year. Without these sponsors, our team would not exist.</p>
            <div class="row">
                <% [
                    { src: "microsoft.png", alt: "Microsoft", website: "https://www.microsoft.com/" },
                    { src: "tmobile.png", alt: "T-Mobile", website: "https://www.t-mobile.com/" },
                    { src: "speea.png", alt: "SPEEA", website: "http://www.speea.org/" },
                    { src: "ospi.png", alt: "Office of Superintendent of Public Instruction", website: "http://www.k12.wa.us/" },
                    { src: "bsfoundation.png", alt: "Bellevue Schools Foundation", website: "http://www.bellevueschoolsfoundation.org/SitePages/Default.aspx" },
                    { src: "intellectualventures.png", alt: "Intellectual Ventures", website: "http://www.intellectualventures.com/" },
                    { src: "f5_new.png", alt: "F5 Networks", website: "https://f5.com/" }
                ].forEach(function(cur) { %>
                    <a href="<%= cur.website; %>">
                        <img class="img-responsive col-xs-12 col-sm-6 col-md-4 col-lg-3" src="//<%= classes.constants.subdomains.full("CDN"); %>/media/sponsors/<%= cur.src; %>" alt="<%= cur.alt; %>" title="<%= cur.alt; %>" />
                    </a>
                <% }) %>
            </div>
        </section>
        <% include ../partials/footer.ejs %>
    </body>
</html>
