<% var seo = {
    title: "Home | Team 2412 - The Robototes"
}; %>
<!DOCTYPE html>
<html lang="en">
    <!--
        Copyright (C) 2017 Sammamish Robotics <robototes2412@gmail.com> All rights reserved
        
        This file is part of the robototes-website project.
        
        Any copying and/or distributing and/or use in commercial or non-commercial environments
        via any medium without the express permission of Robotics Leadership is strictly prohibited
        -->
    <head>
        <% include ../partials/head.ejs %>
        <% include ../partials/seo.ejs %>
	<!-- Google site verification -->
	<meta name="google-site-verification" content="2xQI9R54QYu5CHIGySzv2uwr-m1ZCu5ShhEoNk86Qks"/>
    </head>
    <body>
        <% include ../partials/header.ejs %>
        <section id="main">
            <!--Slide show-->
            <div class="carousel slide" id="welcome-carousel" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <% //Alt tags
                        var altvals = [];
                        altvals["falca.jpg"] = "Our latest robot, Falca.";
                        altvals["falca_gear.jpg"] = "Falca picking up a gear.";
                        altvals["falca_climb.jpg"] = "Falca climbing ";
                    %>
                    <% slideshow.forEach(function(current, index) {
                        %><div class="item<%= index == 0 ? " active" : "" %>">
                            <img src="<%= "\/\/" + classes.constants.subdomains.full("CDN") + "/media/slideshow/" + current; %>" alt="<%=altvals[current];%>">
                        </div><%
                    }); %>
                </div>
                <a class="left carousel-control" href="#welcome-carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#welcome-carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!--News-->
            <div id="news" class="row">
                <div id="whoarewe" class="news-col well col-md-4 col-sm-6 col-xs-12">
                    <h2>Who are we?</h2>
                    <p>We are the Robototes, <a href="http://www.bsd405.org/sammamish">Sammamish High School's</a> FIRST Robotics Team. Named after our school mascot (the Totems, or totes), we have participated in <a href="https://www.firstinspires.org/robotics/frc">FRC</a> (<a href="https://www.firstinspires.org/">FIRST</a> Robotics Competition) since 2008. </p>
                </div>
                <div id="moneymoneymoney" class="news-col well col-md-4 col-sm-6 col-xs-12">
                    <h2>Help support our team!</h2>
                    <p>We are asking for donations to go directly to the Team by following these steps:</p>
                    <ol>
                        <li>If you do not have a student in the Bellevue School District you may create a guest login here: <a href="https://touchbase.bsd405.org/signup.aspx">https://touchbase.bsd405.org/signup.aspx</a></li>
                        <li>Once you have an account, log in at <a href="https://touchbase.bsd405.org/">https://touchbase.bsd405.org/</a></li>
                        <li>Click on &quot;Items At All Schools&quot;</li>
                        <li>Choose &quot;High School&quot;, then &quot;Sammamish High School&quot;, then &quot;Donations&quot;</li>
                        <li>Enter the amount you wish to donate, then checkout</li>
                        <li>Accept the sincere thanks from Team 2412!</li>
                    </ol>
                    <p>All donations are tax deductible.</p>
                </div>
                <!--
                <div id="buildseason2017" class="news-col well col-md-4 col-sm-6 col-xs-12">
                    <h2>Our robot is here!</h2>
                    <p>Team 2412 is proud to present our latest creation: Falca. </p>
                    <ul>
                        <ul>
                            <li>Teleoperated:</li>
                            <ul>
                                <li>6 wheel tank drive, powered by 4 CIMs</li>
                                <li>Pneumatic gripper can pick gear off the ground</li>
                                <li>Chain-driven climber powered by a 775 pro</li>
                            </ul>
                        </ul>
                        <ul>
                            <li>Autonomous:</li>
                            <ul>
                                <li>Can put gear on any peg</li>
                                <li>Crosses baseline for extra 5 points</li>
                            </ul>
                        </ul>
                    </ul>
                    <p>More information can be found on our <%- link_to("blog", "\/\/" + classes.constants.subdomains.BLOG + "." + classes.constants.domain); %>.</p>
                </div>-->
                <div id="comp2017" class="news-col well col-md-4 col-sm-6 col-xs-12">
                    <h2>Celebrating another great season!</h2>
                    <p>
                        Although many people are disappointed that our season is already over, we are still happy to celebrate what has been one of the more successful seasons in team history. This year, we won the Innovation in Control award for our pneumatic gripper and vision tracking, and made it to the semifinals at <%- link_to("Auburn", "https:\/\/www.thebluealliance.com/event/2017waahs"); %>.
                    </p>
                    <p>More information can be found on our <%- link_to("blog", "\/\/" + classes.constants.subdomains.BLOG + "." + classes.constants.domain); %>.</p>
                </div>
            </div>
        </section>
        <% include ../partials/footer.ejs %>
    </body>
</html>
