doctype html
html
  head
    include /head
    include /seo
  body
    include /header
    section#main
      div#socialMedia
        h2 Social media
        ul
          li
            a(href='https://www.youtube.com/channel/UCGPcRxxZuqsReqQDWMfKrVw') Youtube Channel
          li
            a(href='https://www.facebook.com/Robototes') Facebook
          li
            a(href='https://twitter.com/robotics_2412') Twitter
          li
            a(href='https://instagram.com/robototes_2412') Instagram
          li
            a(href='https://plus.google.com/117011933295301976527') Google+
          li
            a(href='https://github.com/robototes') GitHub
      div#externalLinks
        h2 External links
        ul
          li
            a(href='http://www.chiefdelphi.com/forums/portal.php') Chief Delphi
          li
            a(href='http://www.thebluealliance.com/team/2412') The Blue Alliance
          li
            a(href='http://www.usfirst.org/') FIRST
          li
            a(href='http://firstwa.org/') FIRST of Washington
      a(href='#privacyPolicy' data-toggle='modal' data-target='#privacyPolicy') Our Privacy Policy
      div#contactUs
        h2 Contact us
        h4 Robotics Leadership
        div.container-fluid#membersAccordian
          each member in teamMembers
            div.col-md-4.col-sm-6.col-xs-12
              div.panel.panel-default
                div.panel-heading
                  h4.panel-title= `${member.name} (${member.role})`
                div.panel-body
                  span Email: 
                  img(src=`//cdn.${process.env.DOMAIN}/media/email_images/${member.alias}@${member.domain}.${member.tld}.png` alt=`${member.alias} at ${member.domain} dot ${member.tld}`)
        h4 Website developers
        div.container-fluid#developersAccordian
          each developer in developers
            div.col-md-4.col-sm-6.col-xs-12
              div.panel.panel-default
                div.panel-heading
                  h4.panel-title= `${developer.name}`
                div.panel-body
                  span GitHub: 
                  a(href=`https://github.com/${developer.github}` target='_blank')= `@${developer.github}`
    include /footer