extends layout.pug

block main
  h1 Contact us
  h3 Team emails
  div.row
    each teamEmail in members.teamEmails
      div.col-md-4.col-sm-6.col-xs-12
        div.panel.panel-default
          div.panel-heading
            h4.panel-title= `${teamEmail.name}`
          div.panel-body
            img(src=`//cdn.${nconf.get('DOMAIN')}/media/email_images/${teamEmail.alias}@${teamEmail.domain}.${teamEmail.tld}.png` alt=`${teamEmail.alias} at ${teamEmail.domain} dot ${teamEmail.tld}`)
  h3 Robotics Leadership
  div.row
    each member in members.teamMembers
      div.col-md-4.col-sm-6.col-xs-12
        div.panel.panel-default
          div.panel-heading
            h4.panel-title= `${member.name} (${member.role})`
          div.panel-body
            img(src=`//cdn.${nconf.get('DOMAIN')}/media/email_images/${member.alias}@${member.domain}.${member.tld}.png` alt=`${member.alias} at ${member.domain} dot ${member.tld}`)
  h3 Website developers
  div.row
    each developer in members.developers
      div.col-md-4.col-sm-6.col-xs-12
        div.panel.panel-default
          div.panel-heading
            h4.panel-title= `${developer.name}`
          div.panel-body
            span GitHub:
            a(href=`https://github.com/${developer.github}` target='_blank')= `@${developer.github}`
